*.a
*.o
*~
.deps/
.version
Makefile
Makefile
alloca.h
autom4te.cache/
config-h.in
config.*
lib/arg-nonnull.h
lib/c++defs.h
lib/charset.alias
lib/configmake.h
lib/fcntl.h
lib/getopt.h
lib/glthread/.dirstamp
lib/langinfo.h
lib/locale.h
lib/math.h
lib/ref-add.sed
lib/ref-del.sed
lib/signal.h
lib/spawn.h
lib/stdbool.h
lib/stdint.h
lib/stdio.h
lib/stdlib.h
lib/string.h
lib/sys/
lib/time.h
lib/unistd.h
lib/unused-parameter.h
lib/warn-on-use.h
lib/wchar.h
lib/wctype.h
src/m4
stamp-h
stamp-h.in
stamp-h1
tests/arg-nonnull.h
tests/c++defs.h
tests/dirent.h
tests/inttypes.h
tests/t-c-stack2.tmp
tests/t-fpurge.tmp
tests/t-freading.tmp
tests/test-alloca-opt
tests/test-array_list
tests/test-array_oset
tests/test-avltree_oset
tests/test-binary-io
tests/test-c-ctype
tests/test-c-stack
tests/test-closein
tests/test-dirname
tests/test-errno
tests/test-fcntl
tests/test-fflush
tests/test-fflush2
tests/test-filenamecat
tests/test-fopen
tests/test-fpending
tests/test-fpurge
tests/test-freadahead
tests/test-freading
tests/test-frexp
tests/test-frexpl
tests/test-fseeko
tests/test-ftello
tests/test-gettimeofday
tests/test-isnand-nolibm
tests/test-isnanf-nolibm
tests/test-isnanl-nolibm
tests/test-linkedhash_list
tests/test-lock
tests/test-lseek
tests/test-malloca
tests/test-math
tests/test-memchr
tests/test-memcmp
tests/test-open
tests/test-posix_spawn1.sh
tests/test-posix_spawn2.sh
tests/test-printf-frexp
tests/test-printf-frexpl
tests/test-quotearg
tests/test-sigaction
tests/test-signbit
tests/test-snprintf
tests/test-stdbool
tests/test-stdint
tests/test-stdio
tests/test-stdlib
tests/test-strerror
tests/test-string
tests/test-strsignal
tests/test-strstr
tests/test-strtod
tests/test-sys_stat
tests/test-sys_time
tests/test-tls
tests/test-unistd
tests/test-vasnprintf
tests/test-vasprintf
tests/test-vasprintf-posix
tests/test-wchar
tests/test-wctype
tests/test-xvasprintf
tests/unused-parameter.h
tests/warn-on-use.h
